@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lugrasimo&family=Merriweather:wght@300&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(5, 100, 129);
  margin: 0;
  padding: 1px 0;
}

.Navbar ul {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Navbar li {
  float: left;
  margin-left: 10%;
}

.Navbar a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Navbar a:hover {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  color: black;
  transition-delay: 0.1s;
}

.Produk {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Produk label {
  color: skyblue;
  font-size: 600;
  font-family: Roboto, Condensed;
}

.Produk input[type="text"] {
  width: calc(100%-20px);
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
